# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.cache/
.mypy_cache/
.pytest_cache/

# Environments / Secrets
.env
.env.local
.env.*.local
db.sqlite3

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Large model files / weights (optional - e.g. PyTorch weights)
*.pt
*.pth
*.onnx
server.log
